@page
@model PHARMACY.Pages.Medicines.TestBatchModel
@{
    ViewData["Title"] = "Test Batch Page";
}

<h1>Test Batch Page</h1>
<p>If you can see this, the page is working!</p>
<a href="/Medicines">Back to Medicines</a>